/*Esta es una hoja de estilo de Proyecto_Ayuntamiento_de_Vera.css
Sofia Requena Gonzalez
12/11/2025
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./imagenes/Tarea_08/Foto_de_fondo_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Righteous', cursive;
    font-size: 18px;

}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 2rem;
    -webkit-text-stroke: 0.3px black;

}

.logo_menu{
    height: 10rem; 
}

  
.topnav .logo_menu:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgba(188, 188, 188, 0.653);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: -8px 7px 5px rgba(0, 0, 0, 0.76);
    text-shadow: 2px 2px 4px rgb(0, 208, 255, 0.76);
  }
  
  .topnav a:hover {
    background-color: #676565;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-style: italic;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

@media screen and (max-width: 700px) {
    .logo_menu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive .logo_menu {
        display: block;
        float: none;
        margin: 10px auto;
    }
}

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive a {
        display: block;
    }
}



section {
    background-color: rgba(251, 251, 251, 0.564);
    margin: 20px 80px 30px 80px;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    overflow: auto;

}

aside {

    margin: 20px 10px 30px 10px;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    /*overflow: auto*/;

}


h1 {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: rgb(31, 207, 0);
    margin-bottom: 15px;
    font-size: 5rem;
}


h2 {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: rgb(8, 0, 255);
    margin-bottom: 15px;
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(62, 124, 39);
    margin-bottom: 3rem;
}


ul li {
    list-style-type: none;
}


.Lista1 li {
    list-style-type: disc;
}


.Lista2 li {
    list-style-type: decimal;
}


li ol {
    list-style-type: none;
}


p {
    margin: 4rem;
    text-align: left;

}

section hr {
    margin: 20px 20px 20px 20px;
    height: 5px;
    background-color: rgb(195, 22, 22);

}

/*Inicio*/

#Inicio h2 {
    text-align: center;

}


#Inicio {
    text-align: center;

}

#Inicio img {
    text-align: center;
    width: 60%;
    flex: 1 1 70%;
    border-radius: 20px;
}

/*Diseño del texto Turismo*/
.turismo {
    margin: 5px;
}

.turismo article {
    background-color: #cdc7ff;
    padding: 1rem;
    border-radius: 12px;

}

.turismo {
    padding: 4rem;
    border-radius: 12px;


}

/*Diseño del texto Turismo2*/
.turismo2 {
    margin: 5px;
    margin-bottom: 5px;
    padding: 4rem;
    border-radius: 12px;

   
}

.turismo2 article {
    background-color: #ffd7c7;
    padding: 1rem;
    border-radius: 12px;


}


/*Diseño del texto Inicio*/

#Inicio article {
    background-color: #ffc7c7;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
    overflow: hidden;

}

#Inicio {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

/*Diseño del texto Historia*/

.historia article {
    background-color: #cb9ff1;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
    overflow:hidden;


}

.historia {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;
    
}

/*Diseño del texto Contacto*/
.contacto {
    margin: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    justify-content: space-around;
}

.contacto article {
    background-color: #c2f9b1;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
    

}

.contacto ul {
    padding: 1.8rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

.contacto p {
    text-align: center;
    background-color: #8187ff;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
}

.iframe_Historia {
    padding: 2rem 1rem 2rem 1rem ;
    margin: 2rem 4rem 2rem 0rem;
    border-radius: 3rem;
    width: 100%;
    height: 80rem;
    border-style: none;
    
}

.iframe_Formulario {
    padding: 2rem 1rem 2rem 1rem ;
    margin: 2rem 4rem 2rem 0rem;
    border-radius: 3rem;
    width: 100%;
    height: 80rem;
    border-style: none;
    
}

hr {
    margin: 20px 200px 20px 200px;
}

footer {
    background-image: linear-gradient(to right, rgba(255, 4, 0, 0.715), rgba(255, 255, 255, 0.715), rgba(0, 128, 0, 0.715));
    font-style: italic;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    margin: 5rem;
    box-shadow: -8px 7px 5px black;
    text-shadow: 2px 2px 4px rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; 
}

footer p {
    margin: 0;
}

.footer-logo-center {
    height:140px;
}


video, audio{
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    display: block;
    transition: all 0.5s linear;
}


video:hover{
    transform: scale(0.9);

}

audio{
    padding-top: 50px;
    display: block;
    margin: auto;
}

.Video_iframe {
    width: 80%;
    max-width: 900px;         
    height: 500px;
    margin: 2rem auto;
    display: block;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}


/*Video Con menu Grid*/

.Grid{
    padding-top: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

}

.Grid video{
    width: 80%;
    max-width: 900px;
    height: auto;
    border-radius: 15px;
    border: none;
    margin: 0;


}

.Grid iframe{
    width: 80%;
}


/*Video Con menu Grid*/

.Grid_centro{
    padding-top: 1rem;
    margin: auto;

}

.Grid_centro video{
    width: 100%;
    margin: auto;
    transition: all 0.5s linear;

}


.Grid_centro video:hover{
    transform: scale(0.9);

}


/*Diseño del texto encuentranos*/
.encuentranos article {
    margin: 3rem;
    justify-content: space-around;
    
}

.encuentranos article {
    background-color: #ff895b;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
    overflow: auto;

}

.encuentranos {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;
    

}

/*Tabla Donde nos encontramos*/
table{
    background-image:
    linear-gradient(to left bottom, rgba(0, 255, 119, 0.51), rgba(100, 62, 254, 0.51));
    border-collapse: collapse;
    border: 3px solid black;
    margin: auto;
    width: 80%;
    margin: 11%;

    
}


th{
    background-color: rgb(176, 102, 102);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -6px 8px 3px black;
    
}

td{
    font-weight: bold;
    text-align: center; 
    padding: 15px 20px;
    
}



/*Columnas y las Pseudoclases*/

.historia article p {
    column-count: 2;
    column-gap: 2.5rem;
    column-rule: 3px solid brown;
    text-align: justify;
    /* overflow: scroll; */
}

/* Primera letra grande destacada */
.historia article p::first-letter {
    font-size: 3rem;
    color: brown;
    font-weight: bold;
    
}

/* Primera línea destacada */
.historia article p::first-line {
    color: rgb(0, 110, 0);
    font-style: italic;
    
}

/* Selección de texto personalizada */
.historia article p::selection {
    background-color: rgb(255, 220, 150);
    color: black;
    
}

/**
    MEDIA QUERIES
*/

@media (width<=768px) and (width > 576px){
    .historia article p {
        column-count: 1;
    }


    .iframe {
        overflow:scroll;
        height:80rem;
        margin: 1% 10%;
        width: 30%; 
    }
}


@media (width<576px){
    .historia{
        margin: 0px;
        padding: 0px;
    }
    
}

@media (width<=768px){
    .encuentranos {
        overflow:scroll;
    }
    
    .contacto {
        grid-template-columns: auto;
        overflow: scroll;
    }
}

@media (max-width: 1024px) {
    .Video_iframe {
        width: 90%;           
        height: 350px;        
    }
}

@media (max-width: 600px) {
    .Video_iframe {
        width: 100%;         
        height: 250px;        
        margin: 1rem auto;    
        border-radius: 0;     
    }
}